.additional_services .hide {
    display: none;
}

.additional_services .show {
    display: block;
}


.ttl_h1 {
    width: 100%;
    height: auto;
    background: url(./../img/body/aditional_services/top_bg_service.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 0;
    padding: 200px 0 80px;
    text-align: center;
}

.info-header-name {
    font-family: helveticaneuecyrmedium, sans-serif;
    color: #012a3d;
    font-size: 40px;
    padding: 0 15px;

}

.tabs_i {
    cursor: pointer;
    display: inline-block;
    margin: 2px;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.tabs_link {
    padding: 9px 14px 9px 36px;
    position: relative;
    background-color: transparent;
    text-transform: uppercase;
    color: #012a3d;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.info-header {
    background-color: #f6f6f6;
    text-align: center;
    padding: 12px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.info-tab-content {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}

.info-tabcontent__text {
    font-size: 18px;
    padding: 10px 10px;
    font-size: 100%;
}

.info-tabcontent__text h1 {
    font-family: helveticaneuecyrbold, sans-serif;
    color: #012a3d;
    font-size: 40px;
    padding: 0 15px;
    margin: 20px 0px;
    text-transform: uppercase;
}


.info-tabcontent__text h2 {
    font-family: helveticaneuecyrmedium, sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #016e97;
    font-size: 30px;
    padding: 0 15px;
    margin: 10px 0px;
}

.info-tabcontent__text h3 {
    padding-bottom: 20px;
    margin: 10px 0px;
}

.info-tabcontent__text p {
    margin: 10px 0px;
    font-size: 1.3rem;
}

.info-tabcontent__text li:before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    position: relative;
    left: -12px;
    top: 12px;
    border-radius: 50%;
    background-color: #4285f4;
}


/* @media all and (max-width: 1300px){

} */
@media all and (max-width: 992px) {

    .ttl_h1 {
        padding: 130px 0 30px;
    }

    .info-header-name {
        font-size: 30px;
    
    }

    .tabs_link {
        padding: 5px 14px 9px 24px;
        font-size: 16px;
    }

    .info-tabcontent__text h1 {
        font-size: 30px;
        padding: 0 5px;
    }

    .info-tabcontent__text h2 {
        font-size: 20px;
        padding: 0 5px;
    }

    .info-tabcontent__text p {
        font-size: 1.1rem;
    }

    .info-tabcontent__text {
        font-size: 16px;
    }

    .info-tabcontent__text h3 {
        font-size: 22px;
    }





}



@media all and (max-width: 768px) {

    .info-header {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .info-tabcontent__text {
        font-size: 12px;
    }

    .info-tabcontent__text h3 {
        font-size: 18px;
    }


    .ttl_h1 {
        padding: 100px 0 20px;
    }

    .info-header-name {
        font-size: 16px;
        margin-bottom: 25px;
    
    }

    .tabs_link {
        font-size: 20px;
    }

    .info-tabcontent__text h1 {
        font-size: 20px;
    }

    .info-tabcontent__text h2 {
        font-size: 16px;
    }

    .info-tabcontent__text p {
        font-size: 1rem;
    }

}