.fade {
    -webkit-animation-name: fade;
            animation-name: fade;
    -webkit-animation-duration: 3.5s;
            animation-duration: 3.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: 0.1;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.1;
    }
    to {
      opacity: 1;
    }
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    list-style: none;
    color: #fff;
    cursor: pointer;
  }
html{
  box-sizing: border-box;
  font-size: 100%;
}

  body {
    --text-hover-color: rgb(55, 130, 159);
    --text-color: rgb(1, 42, 60);
    --btn-backgroun-color: rgb(1, 110, 151);
    font-family: 'HelveticaNeueCyr';
    background-color: #fff;
    height: 5000px;
    direction: ltr;
  }

  ol, ul {
    list-style: none;
}
ul{
  margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


  /* MAIN SLIDER */

  .right_about{
    width: 100%;
    margin: 0 auto;
    }

  .wrap {
    width: 100%;
    position: relative;
  }
  .wrap .slider-item {
    width: 100%;
    height: 100%;
    margin: 0;
  
  }
  .wrap .slider-item .slider-block {
   text-align: center;
  }
  
  .wrap .slider-item .slider-block img{
width: 100%;
height: auto;
/* opacity: 0.6; */
  }
  
  

  .main-slider .prev,  .main-slider .next{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }

  .main-slider .prev .arrow-left {
    width: 30px;
    height: 30px;
    background: url(./../img/body/main-slider/prev.png) center no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 5%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    opacity: .7;
    -webkit-transition: 1s;
            transition: 1s;
    cursor: pointer;
    z-index: 2;
  }
  /* .main-slider .next {
    position: absolute;
    cursor: pointer;
    top: 0;
    width: 90px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: 0.3s;
            transition: 0.3s;
    height: 100%;
    right: 0;
  } */
  /* .main-slider .next:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .main-slider .next:hover .arrow-right {
    opacity: 1;
  } */
  .main-slider .next .arrow-right {
    width: 30px;
    height: 30px;
    background: url(./../img/body/main-slider/next.png) center no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 95%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    opacity: .7;
    -webkit-transition: 1s;
            transition: 1s;
    cursor: pointer;
    z-index: 2;
  }
  .slider-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  
          }
  .slider-dots .dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 10px;
    background-color: none;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
            transition: background-color 0.6s ease;
  }
  .slider-dots .dot-active {
    background-color: #fff;
    height: 10px;
    width: 10px;
  }


  .scrollup{
    width: 40px;
    height: 40px;
    background-color: var(--text-color);
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    color: #fff;
    transform: rotate(-90deg);
    cursor: pointer;

  }
  
  .scrollup p{
    width: 40px;
    display: inline-block;
    font-size:32px;
  }

  
  












  /* main-service */

  .main-services{
    padding-bottom: 14px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
  }

  .main-title {
    padding-top: 15px;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-color);
  }

    .main_service_list {
      position: relative;
      font-size: 0;
      max-width: 1200px;
      display: flex;
      flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    justify-content: space-evenly;
    }  

    .main_service_item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 22%;
      min-width: 260px;
      padding: 0 10px 14px 10px;
      text-align: center;
      position: relative;
    }

    .main_service_wrp {
      position: relative;
      display: block;
      width: 100%;
      overflow: hidden;
  }

  .main_service_wrp img {
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    width: 100%;
}

.main_service_links_list {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 100%;
  padding: 0;
  text-align: left;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.main_service_link_item {
  margin-bottom: 4px;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
}

.main_service_link_item a {
  display: block;
  background-color: rgba(1,42,61,.61);
  text-align: center;
  padding: 8px 15px;
  letter-spacing: .03em;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.main_service_link_item a:hover {
  text-decoration: none;
  background-color: rgba(1,110,151,.61);
}

.main_service_links_list a {
  color: #fff;
}

.main_service_wrp:hover .main_service_links_list, .main_service_wrp>a {
  padding-top: 44px;
  top: 0;
}

.main_service_wrp>a {
  height: 50px;
    margin-top: -70px;
    padding: 8px 10px;
  display: table;
  position: absolute;
  top: 100%;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  background-color: #00283c;
  z-index: 2;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
  box-sizing: border-box;
}

.main_service_wrp>a span {
  display: table-cell;
  vertical-align: middle;
  font-size: 100%;
  box-sizing: border-box;
  margin: 0;
    padding: 20px 0;
    border: 0;
    font: inherit;
}

























/* Блок main_expirience */

.second_expirience {
  display: none;
}

.main_expirience{
  display: -webkit-flex; 
  display: flex;
  flex-direction: column;
  margin: 90px 0 60px 0;
}

.main_expirience hr, .second_expirience hr{
  margin-bottom:40px;
  margin-top:40px;
  display: block;
    unicode-bidi: isolate;
    overflow: hidden;
    border-top-color: rgba(238,238,238,1);
    border-top-width: 1px;
    border-top-style: solid;
    width: 80%;
}

.main_expirience .title-expirience, .second_expirience .title-expirience{
  width: 100%;
  text-align: center;
  max-width: 80%;
  margin: 0px auto 20px auto;

}


.main_expirience .title-expirience h2 , .second_expirience .title-expirience h2{
  font-size: 34px;
  line-height: 1;
 margin-top: 20px;
  margin-bottom: 20px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--text-color);
  font-weight: 600;
 
}
.main_expirience .expirience-content {
  display: -webkit-flex; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.second_expirience .expirience-content{
  display: -webkit-flex; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 20px 0 20px;
}

.expirience-content .expirience-column{
  display: -webkit-flex; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  flex: 1;
}

.expirience-content .exp-photo{
  min-width: 90%;
}
.expirience-content .exp-photo img{
  width: 100%; 
  border-radius: 15%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.second_expirience .expirience-content a{
  margin: 0 auto;
}

.expirience-content .exp-article {
  display: -webkit-flex; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



.expirience-content .exp-article img{
width: 40px;
margin: 16px 16px;
}

.expirience-content .exp-article p{
  font-style: italic;
  font-size: 18px;
  text-align: justify;
}



















/* Блок main_projects */

.main_projects{
  background: url(./../img/body/main_projects/main_project_bg.jpg) 100% 100%/cover no-repeat;
}

.main_ttl{
  padding-top: 35px;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  color: #012a3d;
}

.project_list_wrp{
  opacity: 1;
  margin: 30px auto 0;
  max-width: 1200px;
  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    
}
.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel{
  display: none;
  width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}

.owl_item{
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 auto;
}

.owl_carusel_item{
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 0 7px;
}


.project_wrp{
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  margin-bottom: 14px;
}


.owl-carousel .owl-item img {
  transform-style: preserve-3d;
  display: block;
    width: 100%;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}


.project_wrp .ttl {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  min-height: 80px;
  padding: 16px 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  background-color: #00283c;
  z-index: 2;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
  box-sizing: border-box;
}




























@media all and (min-width: 1450px) {
  .main-title{
    padding-top: 35px;
    font-size: 40px;
    padding-bottom: 20px;
}

.main_service_item {
  
  width: 30%;
  min-width: 260px;
}


.main_service_wrp>a {
  margin-top: -80px;
  font-size: 22px;
padding: 10px 0;
}



.main_service_link_item {
  margin-bottom: 8px;
    font-size: 18px;
}

.main_service_link_item a {
   padding: 8px 15px;
  }

}

@media all and (max-width: 1200px) {
  .main-title{
 
    font-size: 22px;

}

  .main_service_wrp:hover .main_service_links_list {
    padding-top: 34px;
  }

}


@media all and (max-width: 992px) {

  .main_service_item {
  
    width:45%;
    min-width: 300px;
  }
  
  
  .main_service_wrp>a {
    margin-top: -80px;
    font-size: 22px;
  padding: 10px 0;
  }
  
  
  
  .main_service_link_item {
    margin-bottom: 8px;
      font-size: 18px;
  }
  
  .main_service_link_item a {
     padding: 8px 15px;
    }
  
    
  .main_service_wrp>a {
    vertical-align: middle;
  }





  .main_expirience{
    padding: 70px 0 30px 0;
    margin: 0px;
  }
  
  .main_expirience .title-expirience{
    margin: 0px auto 10px auto;
  }
  
  .main_expirience {
    display: none;
  }
  
  .second_expirience {
    display: -webkit-flex; 
    display: flex;
    flex-direction: column;
    margin: 90px 0 60px 0;
  }
  

}


@media all and (max-width: 768px) {



}



@media all and (max-width: 576px) {
  .main_service_item {
  
    width:70%;
    min-width: 300px;
  }

}

@media all and (max-width: 575px) {
  .main_service_item {
  
    width:90%;
  }

}